#wrapper {
    text-align: justify;
    margin: 20px auto;
    position: relative;
    width: 480px;
    line-height: 1.5em;
}

#content {
    list-style-type: none;
    width: 425px;
}

#side {
	display: none;
}

